<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  </head>


  <body>
    <header>
      <a href="{{site.baseurl}}/index.html" class="header-brand"> rideco </a>
      {% include navigation.html %}
    </header>


      <div class="wrapper">

        <div class="img-welcome"></div>

      </div>


       {{ content }}







  <footer class="footer">
    <hr>
    Thanks for visiting my blog!
  </footer>

  </body>


</html>
